
<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="info" style="padding: 38px">
        <img src="../../../assets/img/foto-perfil.png" class="rounded-circle" id="foto_perfil" style="margin: -70% 0 0 0">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p *ngFor = "let p of per" id="nombre">
            <strong>{{p.nombre}} {{p.apellido}}</strong><br>
            {{p.fechaNac}}<br>
            {{p.tel}} <br>
            {{p.email}}<br>
            Ing. en Computación
        </p>        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <app-acerca-de></app-acerca-de>
    </div>
</div>