<div class="card mat-card">
    <div class="col-sm-6 offset-sm-3">
        <h3> Create Experiencia </h3>
        <form (ngSubmit) = "onSubmitForm()">        
            <div class="form-group">
                <label>Titulo</label>                
                <input type="text" class ="form-control" id = "titulo"
                [(ngModel)]="titulo" name = "titulo">
            </div> 
            <br>
            <div class="form-group">
                <label>Cargo</label>                
                <input type="text" class ="form-control" id = "cargo"
                [(ngModel)]="cargo" name = "cargo">
            </div> 
            <br>
            <div class="form-group">
                <label>Jornada</label>                
                <input type="text" class ="form-control" id = "jornada"
                [(ngModel)]="jornada" name = "jornada">
            </div> 
            <br> 
            <div class="form-group">
                <label>Tiempo</label>                
                <input type="text" class ="form-control" id = "tiempo"
                [(ngModel)]="tiempo" name = "tiempo">
            </div> 
            <br>
            <div class="form-group">
                <label>Descripcion</label>                
                <input type="text" class ="form-control" id = "descripcion"
                [(ngModel)]="descripcion" name = "descripcion">
            </div> 
            <br>
            <button class = "btn btn-success" type ="submit">Add</button>        
        </form>        
    </div> 
</div> 
